{% block comment %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">共{{ c_paginator.count }}条评论</li>
    <li class="breadcrumb-item active">当前第 {{ page_no }} 页</li>
    <li class="breadcrumb-item active">共 {{ c_paginator.num_pages }} 页</li>
  </ol>
  {% for c in comments %}
    <div class="media mb-4">
      <!--
      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
      -->
      <div class="media-body">
        <h5 class="mt-0" id="{{ c.cid }}">
          {{ c.user_name }}
          <span><small>{{ c.date }} | {{ c.rate }}分</small></span>
        </h5>
        {{ c.comment }}
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock comment %}
{% block pagination %}
  <!--<input type="hidden" id="start" value="{{ start }}" />
  <input type="hidden" id="pagesize" value="{{ pagesize }}" />-->
  <ul class="pagination justify-content-center mb-4">
  {% if page_no == 1 %}
      <li class="page-item disabled">
  {% else %}
      <li class="page-item">
  {% endif %}
        <a class="page-link" href="javascript:;" id="prev-comments-page">&laquo; 上一页</a>
      </li>
  
  {% if page_no >= c_paginator.num_pages %}
      <li class="page-item disabled">
  {% else %}
      <li class="page-item">
  {% endif %}
        <a class="page-link" href="javascript:;" id="next-comments-page">下一页 &raquo;</a>
      </li>
  </ul>
{% endblock pagination %}

<script type="text/javascript">
    $('#next-comments-page').click(function() {
        next_page("{% url 'movies:comments' movie_id %}", {{ page_no }}, {{ page_size }});
    });
    $('#prev-comments-page').click(function() {
        prev_page("{% url 'movies:comments' movie_id %}", {{ page_no }}, {{ page_size }});
    });
</script>