{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        {{ movie.movie_name }}
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        {{ movie.rate }}
      </li>
      <li class="breadcrumb-item active">
        {{ movie.rate_count }}人评价
      </li>
    </ol>

    {% block info %}
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <a href="{{ movie.link }}" referrerPolicy="no-referrer">
                <img class="img-fluid rounded" src="{{ movie.img_src }}" alt="暂无海报" referrerPolicy="no-referrer">
              </a>
            </div>
            <div class="col-lg-8">
              <p class="card-text">
                <span>类型：{{ movie.movie_type }}</span><br />
                <span>制片国家/地区：{{ movie.area }}</span><br />
                <span>语言：{{ movie.language }}</span><br />
                <span>上映日期：{{ movie.release_date }}</span><br />
                <span>时长：{{ movie.runtime }}</span><br />
                <span>IMDb：{{ movie.imdb_id }}</span>
              </p>
              <p class="lead">{{ movie.indent }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endblock info %}
    
    <!-- Comments Form -->
    <div class="row">
      <div class="col-lg-12">
        {% block search %}
          <div class="card mb-4">
            <h5 class="card-header">搜索评论</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="comments-queries">
                <span class="inpug-group-append">
                  <button class="btn btn-secondary" type="button" id="comments-get">Search</button>
                </span>
              </div>
            </div>
          </div>
        {% endblock search %}
      </div>

      <div class="col-lg-12" id="comments-page">
        {% block comment %}
        {% endblock comment %}
      </div>
    </div>

  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'js/comments_search_ajax.js' %}"></script>
  <script type="text/javascript">
    $('#comments-get').click(function() {
        comments_search("{% url 'movies:comments' movie.movie_id %}");
    });
    
    $(window).ready(function(){
        comments_search("{% url 'movies:comments' movie.movie_id %}");
    });
  </script>
  <!--<script type="text/javascript">
    //$('#next-comments-page').click(function() {
    //    next_page("{% url 'movies:comments' movie.movie_id %}");
    //});
    //$('#prev-comments-page').click(function() {
    //    prev_page("{% url 'movies:comments' movie.movie_id %}");
    //});
  </script>-->
{% endblock script %}




