<div class="col-xl-7 col-lg-7" id="graph-card">
  <!-- 评论数量 -->
  <div class="mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">评论数量</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="c_count"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 正向评价数量 -->
  <div class="mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">正向评价数量</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="plus"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-laugh-beam fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 负向评价数量 -->
  <div class="mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">负向评价数量</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="minus"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-grimace fa-2x text-danger"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 平均情感倾向 -->
  <div class="mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">平均情感倾向</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="sent_avg"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-heart fa-2x text-info"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>