<nav class="navbar navbar-expand navbar-light bg-light mb-1">
  <h5 class="navbar-brand text-truncate">{{ product.category }} > {{ product.title }}</h5>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item no-arrow mx-1">
      {% block product_tag %}
      <a class="nav-link {{ info_status }}" href="{% url 'smzdm:detail' product.pid %}">产品详情</a>
      {% endblock product_tag %}

    </li>
    <li class="nav-item no-arrow mx-1">
      {% block sentiment_tag %}
      <a class="nav-link {{ ana_status }}" href="{% url 'smzdm:sentiment' product.pid %}">舆情分析 </a>
      {% endblock sentiment_tag %}
    
    </li>
  </ul>
</nav>