{% extends "base.html" %}
{% load my_tags %}

{% block title %}
smzdm
{% endblock title %}
{% block container %}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <a href="javascript:;">最新</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#" class="active">最热</a>
    </li>
</ol>

<div class="row">

  {% get_recent_products as recent_products %}
  {% for recent_product in recent_products %}
    <div class="col-lg-3 col-sm-6 mb-4 portfolio-item">
      <div class="card shadow h-100">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary text-truncate">{{ recent_product.category }}</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <a target="_blank" rel="nofollow" href="{% url 'smzdm:detail' recent_product.pid %}">
              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{{ recent_product.img }}" alt="{{ recent_product.title }}" referrerPolicy="no-referrer">
            </a>
          </div>
          <h6 class="card-title text-primary">
            <a target="_blank" rel="nofollow" href="{% url 'smzdm:detail' recent_product.pid %}">{{ recent_product.title }}</a>
          </h6>
          <p class="card-text">
            {{ recent_product.price }}
          </p>
        </div>
        <div class="card-footer text-muted">
          {{ recent_product.pub_date }} | {{ recent_product.price_from }}
        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-lg-12">
        <p class="text-gray-500 mb-0">暂无内容...</p>
    </div>
  {% endfor %}

</div>
{% endblock container %}