<div class="col-xl-12 col-lg-12" id="graph-table">
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">评论数据展示</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        {% comment %} <p>
        输入一组范围：
        </p>
        <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
            <tr>
                <td>起始日期:</td>
                <td><input type="text" id="start" name="start"></td>
            </tr>
            <tr>
                <td>结束日期:</td>
                <td><input type="text" id="end" name="end"></td>
            </tr>
            </tbody>
        </table> {% endcomment %}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>id</th>
                <th>用户</th>
                <th>发布时间</th>
                <th>内容</th>
                <th>情感倾向</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>